In [3]:
from pyvis.network import Network
import pandas as pd

got_net = Network(height="750px", width="100%", bgcolor="#222222", font_color="white", notebook=True)

# set the physics layout of the network
got_net.barnes_hut()
got_data = pd.read_csv("https://www.macalester.edu/~abeverid/data/stormofswords.csv")

sources = got_data['Source']
targets = got_data['Target']
weights = got_data['Weight']

edge_data = zip(sources, targets, weights)

for e in edge_data:
    src = e[0]
    dst = e[1]
    w = e[2]

    got_net.add_node(src, src, title=src)
    got_net.add_node(dst, dst, title=dst)
    got_net.add_edge(src, dst, value=w)

neighbor_map = got_net.get_adj_list()

# add neighbor data to node hover data
for node in got_net.nodes:
    node["title"] += " Neighbors:<br>" + "<br>".join(neighbor_map[node["id"]])
    node["value"] = len(neighbor_map[node["id"]])

got_net.show("gameofthrones.html")

In [2]:
got_data

      Source       Target  Weight
0      Aemon        Grenn       5
1      Aemon      Samwell      31
2      Aerys        Jaime      18
3      Aerys       Robert       6
4      Aerys       Tyrion       5
..       ...          ...     ...
347   Walder        Petyr       6
348   Walder       Roslin       6
349   Walton        Jaime      10
350  Ygritte       Qhorin       7
351  Ygritte  Rattleshirt       9

[352 rows x 3 columns]